<!DOCTYPE html>
<html>

<head>
  <title>CSS3 Perspective Playground</title>
  <link rel="icon" type="image/png" href="img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
  <div id="app">
    <h2>CSS3 Perspective Playground</h2>
    <main>
      <section class="settings">
        <div class="settings-container">
          <label>perspective: {{ perspective }}px;</label>
          <input type="range" min="0" max="999" v-model="perspective" />

          <label>rotateX: {{ rotateX }}deg; </label>
          <input type="range" min="-180" max="180" v-model="rotateX" />

          <label>rotateY: {{rotateY}}deg; </label>
          <input type="range" min="-180" max="180" v-model="rotateY" />

          <label>rotateZ: {{rotateZ}}deg; </label>
          <input type="range" min="-180" max="180" v-model="rotateZ" />

          <button type="button" @click.prevent="reset" class="batton">Reset</button>
          <button type="button" @click.prevent="copy" class="batton">Copy</button>
          <button type="button" @click.prevent="toggleMute" class="batton button-mute">
            {{ isMuted ? 'Unmute Audio' : 'Mute Audio' }}
          </button>
        </div>
      </section>
      <section class="output">
        <div class="box-container">
          <div class="box" :style="box"></div>
        </div>
      </section>
    </main>

    <audio ref="backgroundMusic" autoplay loop>
      <source src="assets/camp.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>

  </div>

  <css-doodle>
    :doodle {
      @grid: 1x3 / 100vmax;
      position: absolute;
      top: 0; left: 0;
      z-index: 0;
    }

    @size: 100% 150%;
    position: absolute;

    background: @m(160, (
      linear-gradient(transparent, @p(
        #63D2FF@repeat(2, @p([0-9a-f])),
        #91972A@repeat(2, @p([0-9a-f]))
      ))
      @r(0%, 100%) @r(0%, 100%) /
      @r(1px) @r(23vmin)
      no-repeat
    ));

    will-change: transform;
    animation: f 10s linear calc(-10s / @size() * @i()) infinite;
    @keyframes f {
      from { transform: translateY(-100%) }
      to { transform: translateY(100%) }
    }
  </css-doodle>

  <script src="https://unpkg.com/css-doodle@0.6.1/css-doodle.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script type="module" src="app.js"></script>
</body>

</html>
